body {
    background-color: var(--colour-background);
    font-family: var(--font-family-body);
    color: var(--colour-text-body);
}

h1 {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-7xl);
}
