body {
    background-color: var(--colour-background);
    background-image: var(--background-texture-light); 
    font-family: var(--font-family-body);
    color: var(--colour-text-body);
    /* This keeps the footer at the bottom */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

[data-theme="dark"] body {
       background-image: var(--background-texture-dark); 
}

main {
    flex-grow: 1;
}

h1 {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-3xl);
    line-height: var(--line-height-headers);
    margin-bottom: var(--space-l);

    @media (min-width: 768px) {
        margin-bottom: var(--space-2xl);
    }
}

h2 {
    font-weight: 400;
}

p {
    font-size: var(--font-size-base);
}

.maincontent {
    display: flex;

    a {
        color: var(--colour-accent);
    }

    a.external:after {
        content: " ↗";
        color: var(--colour-accent);
        font-size: var(--font-size-xs);
        font-weight: bold;
        opacity: var(--opacity-70);
        margin-left: var(--space-3xs);
    }

    a.boxlink {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

