{{ define "main" }}
  <h1>{{ .Title }} Custom Template</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

  {{/*  {{ .Content }}  */}}
  
  {{ partial "wikilinks.html" .Content }}

  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

  {{ partial "relationship-graph.html" . }}

  {{ if .Params.relationships }}
  connected posts
    <div class="connections">
      {{ range $type, $posts := .Params.relationships }}
        <h4>{{ humanize $type }}</h4>
        <ul>
          {{ range $posts }}
            {{ with $.Site.GetPage (printf "/%s" .) }}
              <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
