/* .essays__list {
    display: flex;
    justify-content: center;
    gap: var(--space-l)
} */

.essays__item {
    width: 100%;
    
    @media (min-width: 768px) {
        width: 49%;
    }

    a {
        text-decoration: none;
    }
}
