.gardenhome {
    margin-top: var(--space-4xl);

    > [class*='__content'] {
        margin-bottom: var(--space-4xl);
    }

    > [class*='__content'] > p {
        margin-bottom: var(--space-l);
        font-size: var(--font-size-2xl);
    }
}
