.notes__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-m);
}

.notes__item {
    position: relative;
    display: flex;
    gap: var(--space-xs);
    width: 100%;
    padding: var(--space-s) var(--space-m);
    border: 1px solid var(--colour-primary-muted);
    border-radius: var(--border-radius);

    @media (min-width: 768px) {
        width: 32%;
    }

    a.boxlink {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.notes__icon {

}
