.wrapper {
    margin-top: var(--space-xl);

    @media (min-width: 768px) {
        margin-top: var(--space-4xl);
    }
}

.sectionheader {
    display: flex;
    justify-content: center;
    align-items: end;

    img {
        width: 200px;
        height: auto;
    }
}

.sectioncontent {
    width: 100%;
    margin: 0 auto;
    margin-bottom: var(--space-4xl);
    text-align: center;

    @media (min-width: 768px) {
        width: 80%;
    }
}

.sectionlist {
    margin-bottom: var(--space-4xl);

    [class*='__item'] {
        position: relative;
    }
}

.notes__list,
.pins__list,
.projects__list,
.essays__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-2xl) var(--space-m);
}

.notes__item,
.pins__item,
.projects__item,
.essays__item {
    box-sizing: border-box;
    display: flex;
    gap: var(--space-xs);
    padding: var(--space-s) var(--space-m);
    border-width: 1.5px;
    border-style: dashed;
    border-color: var(--colour-primary-muted);
    border-radius: var(--border-radius);
    transition: all 0.3s ease;

    &:hover {
        border-image-source: url("/images/vine-light.svg");
        border-image-slice: 60 20 60 20;
        border-image-outset: 1rem 0 1rem 0 ;
        border-image-width: 2rem;
        border-image-repeat: round;

        background: var(--colour-overlay);
    }
}

[data-theme="dark"] {
    .notes__item,
    .pins__item,
    .projects__item,
    .essays__item {
        &:hover {
            border-image-source: url("/images/vine-dark.svg");
        }
    } 
}

.article {
    display: flex;

    h2 {
        margin-bottom: var(--space-xs);
        font-family: var(--font-family-heading);
        font-weight: 700;
    }

    h2:not(:first-of-type) {
       margin-top: var(--space-4xl); 
    }

    p {
        margin-bottom: var(--space-xl);
    }
}
