.projects__item {
    width: 100%;


    @media (min-width: 768px) {
        width: 49%;
    }
}

.projects__cover {
    margin-bottom: var(--space-m);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    overflow: hidden;
}
