/* Berkshire Swash - Regular */
@font-face {
  font-family: "Berkshire Swash";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/berkshire-swash/berkshire-swash-regular.ttf') format('truetype');
}

/* Macondo Swash Caps - Regular */
@font-face {
  font-family: "Macondo Swash Caps";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/macondo-swash-caps/macondo-swash-caps-regular.ttf') format('truetype');
}

/* Inter - Variable */
@font-face {
  font-family: "Inter Italic";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/inter/inter-italic-variable-font_opsz-wght.ttf') format('truetype');
}

@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url('/fonts/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
        url('/fonts/iconfont/MaterialIcons-Regular.woff') format('woff'),
        url('/fonts/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

/* Material Icon Fonts */
@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url('fonts/iconfont/MaterialIcons-Regular.eot');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
