/* Macondo Swash Caps - Regular */
@font-face {
  font-family: "Macondo Swash Caps";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/macondo-swash-caps/macondo-swash-caps-regular.ttf') format('truetype');
}

/* Inter - Variable */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/inter/inter-variable-font_opsz-wght.ttf') format('truetype');
}

@font-face {
  font-family: "Inter Italic";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/inter/inter-italic-variable-font_opsz-wght.ttf') format('truetype');
}

/* JetBrains Mono - for code */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/jetbrains-mono/jetbrains-mono.ttf') format('truetype');
}

@font-face {
  font-family: "JetBrains Mono Italic";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/jetbrains-mono/jetbrains-mono-italic.ttf') format('truetype');
}

@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url('/fonts/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
        url('/fonts/iconfont/MaterialIcons-Regular.woff') format('woff'),
        url('/fonts/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
