/* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1200,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --fluid-min-width: 360;
  --fluid-max-width: 1200;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 1200px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --f--2-min: 12.50;
  --f--2-max: 14.08;
  --font-size-xs: calc(
    ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
      var(--fluid-bp)
  );

  --f--1-min: 15.00;
  --f--1-max: 17.60;
  --font-size-s: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );

  --f-0-min: 18.00;
  --f-0-max: 22.00;
  --font-size-base: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );

  --f-1-min: 21.60;
  --f-1-max: 27.50;
  --font-size-m: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );

  --f-2-min: 25.92;
  --f-2-max: 34.38;
  --font-size-l: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );

  --f-3-min: 31.10;
  --f-3-max: 42.97;
  --font-size-xl: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );

  --f-4-min: 37.32;
  --f-4-max: 53.71;
  --font-size-2xl: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );

  --f-5-min: 44.79;
  --f-5-max: 67.14;
  --font-size-3xl: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  );
  
  --f-6-min: 20;
  --f-6-max: 24;
  --font-size-m-fixed: calc(
    ((var(--f-6-min) / 16) * 1rem) + (var(--f-6-max) - var(--f-6-min)) *
      var(--fluid-bp)
  );

}

:root {
  /* Fonts */
  --font-family-body: Georgia;
  --font-family-heading: "Inter";
  --font-family-display: "Macondo Swash Caps", serif;
  --font-family-code: "JetBrains Mono", monospace;

  /* Classical line heights */
  --line-height-headers: 1.1;
  --line-height-body: 1.5;

  /* REFERENCE: Classical and robust font sizes system */
  /* --font-size-xxs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;
  --font-size-4xl: 2.5rem;
  --font-size-6xl: 3.5rem;
  --font-size-7xl: 4.5rem; */

  /* Three different text colours */
  --colour-text-header: var(--colour-dark);
  --colour-text-body: var(--colour-dark);
  --colour-text-muted: rgb(113, 111, 111);

  /* Classical and robust spacing system */
  --space-5xs: 0.0625rem;
  --space-4xs: 0.125rem;
  --space-3xs: 0.25rem;
  --space-2xs: 0.375rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 2.5rem;
  --space-3xl: 3rem;
  --space-4xl: 4rem;
  --space-5xl: 5rem;

  /* Specific spacers */
  --space-10xl: 10rem;

  /* Application colours */
  --colour-primary: var(--colour-dark);
  --colour-primary-muted: var(--colour-dark-muted);
  --colour-primary-light: #34223c;
  --colour-secondary: var(--colour-medium);
  --colour-secondary-light: #f6e3da; 
  --colour-tertiary: rgb(253, 231, 231);

  /* Colour - Accents */
  --colour-green: #0E740C;
  --colour-orange: #FE8336;
  --colour-accent: var(--colour-green);

  /* Colour - Highlighters */
  --colour-highlight-light: #f8e4ff;
  --colour-highlight-dark: #592146;
  --colour-highlight: var(--colour-highlight-light);

  /* Colour - Code Snippets */
  --colour-snippet-light: #3e2e2c;
  --colour-snippet-dark: #3f2e2d;
  --colour-snippet: var(--colour-snippet-light);

  /* Colour - content types */
  --colour-essays-light: #b77e1c;
  --colour-essays-dark: #EDA933;
  --colour-essays: var(--colour-essays-light);
  --colour-notes-light: #138f6d;
  --colour-notes-dark: #77C8B2;
  --colour-notes: var(--colour-notes-light);
  --colour-projects-light: #752d96;
  --colour-projects-dark: #B67ED0;
  --colour-projects: var(--colour-projects-light);
  --colour-pins-light: #4261b5;
  --colour-pins-dark: #7796E8;
  --colour-pins: var(--colour-pins-light);
  --colour-portraits: #BA4046;

  /* Colours - Pastels */
  --colour-pastel-green-light: #e2ebe2;
  --colour-pastel-green-dark: #013600;
  --colour-pastel-green: var(--colour-pastel-green-light);
  --colour-pastel-blue-light: #d2deea;
  --colour-pastel-blue-dark: #042a45;
  --colour-pastel-blue: var(--colour-pastel-blue-light);
  --colour-pastel-yellow-light: #F8E5D3;
  --colour-pastel-yellow-dark: #655708;
  --colour-pastel-yellow: var(--colour-pastel-yellow-light);
  --colour-pastel-red-light: #f1bcbc;
  --colour-pastel-red-dark: #4b032a;
  --colour-pastel-red: var(--colour-pastel-red-light);
  --colour-pastel-brown-light: #e9e6e1;
  --colour-pastel-brown-dark: #342711;
  --colour-pastel-brown: var(--colour-pastel-brown-light);


  /* Neutral colours */
  --colour-white: hsl(0, 0%, 100%);
  --colour-background: var(--colour-medium);
  --colour-light: #fcf6f4;
  --colour-medium: #EDD5C9;
  --colour-medium-rgb: 237, 213, 201; 
  --colour-medium-muted: rgba(237, 213, 201, 0.2);
  --colour-dark: #26162c;
  --colour-dark-rgb: 38, 22, 44;
  --colour-dark-muted: rgba(38, 22, 44, 0.2);

  --colour-grey-medium: #715979;
  --colour-grey-light: #ba9ec2;
  --colour-grey: var(--colour-grey-medium);

  --colour-overlay: rgba(255, 255, 255, var(--opacity-30));

  /* Background images */
  --background-texture-dark: url("/images/bg-tile-asfalt-dark.png");
  --background-texture-light: url("/images/bg-tile-asfalt-light.png");
  
  /* Border radius */
  --border-radius-s: 0.25rem;
  --border-radius: 0.375rem;
  --border-radius-l: 20%;
  --border-radius-full: 9999px;

  /* Border */
  --border: solid 2px var(--colour-light);

  /* Shadows */
  --shadow-large: 2px 4px 10px hsl(0 0% 0% / 0.1);
  --shadow-medium: 2px 2px 4px rgba(0,0,0,.6);
  --shadow-small: 1px 3px 6px hsl(0 0% 0% / 0.1);
  --filter-shadow-small: drop-shadow(1px 1px 2px hsl(0 0% 0% / 0.2));
  --shadow-inset: -1px -1px 1px rgba(0,0,0,.5);

  /* Opacity */
  --opacity-10: 0.1;
  --opacity-30: 0.3;
  --opacity-70: 0.7;

  /* Z-index */
  --zindex-1: 10;
  --zindex-2: 20;
  --zindex-3: 30;

  /* Media Query - Screen Sizes */
  --tabletandup: 50rem;
}

[data-theme="dark"] {
    --colour-background: var(--colour-dark);

    /* Content Type Card colours */
    --colour-primary: var(--colour-medium);
    --colour-primary-muted: var(--colour-medium-muted);
    --colour-secondary: var(--colour-dark);
    --colour-secondary-light: var(--colour-primary-light);

    --colour-highlight: var(--colour-highlight-dark);
    
    --colour-snippet: var(--colour-snippet-dark);

    --colour-grey: var(--colour-grey-light);
    --colour-projects: var(--colour-projects-dark);
    --colour-essays: var(--colour-essays-dark);
    --colour-pins: var(--colour-pins-dark);
    --colour-notes: var(--colour-notes-dark);

    --colour-pastel-green: var(--colour-pastel-green-dark);
    --colour-pastel-blue: var(--colour-pastel-blue-dark);
    --colour-pastel-yellow: var(--colour-pastel-yellow-dark);
    --colour-pastel-red: var(--colour-pastel-red-dark);
    --colour-pastel-brown: var(--colour-pastel-brown-dark);

    --colour-overlay: rgba(255, 255, 255, var(--opacity-10));
    --colour-accent: var(--colour-orange);
    --colour-text-body: var(--colour-primary);
}
