{{/*  
  Content Type Cards Partial
  Displays a card for each content type
  Usage:
  {{ partial "content-type-cards.html" . }}
*/}}

{{- $content_types := site.Params.garden.content_types }}

{{/*  <pre>
    Content Types: {{ debug.Dump $content_types }}
</pre>  */}}

<div class="contenttype">
  <div class="deck">
    {{ range $key, $arr := $content_types }}
      {{ $ct := index $arr 0 }}
        <div class="deck__card {{$key}}" style="--i: {{ $key }}">
          <a href="{{ $ct.link }}" class="boxlink"></a>
          <div class="deck__content">
            <div class="deck__header">
              <p class="deck__icon">{{ $ct.icon }} {{ $ct.icon }} {{ $ct.icon }}</p>
              <p class="deck__description">{{ $ct.description }}</p>
            </div>
            <div class="deck__image shimmer">
              <img src="/images/{{ $ct.image }}" alt="{{ $ct.icon }}">
            </div>
            <h3 class="deck__title">
              {{ $ct.title }}
            </h3>
          </div>
        </div>
    {{ end }}
  </div>
</div>
