<div class="epistemic">
    {{ if .Params.vibes }}
        <p class="epistemic__vibes">
            {{ partial "components/tooltip.html" (dict "label" "Vibes" "info" "Describes how confident I feel about what I've written.") }}
            {{ .Params.vibes }}
        </p>
    {{ end }}
    
    {{if .Params.effort }}
        <p class="epistemic__effort">
        <span class="epistemic__label hastooltip" tabindex="0">
            {{ partial "components/tooltip.html" (dict "label" "Effort" "info" "The amount of effort I put into creating this.") }}
        </span>
        {{ .Params.effort }}
    </p>
    {{ end }}

    {{ if .Params.certainty }}
    <p class="epistemic__status">
        <span class="epistemic__label hastooltip" tabindex="0">
            {{ partial "components/tooltip.html" (dict "label" "Certainty" "info" "How certain I am about this information.") }}
        </span>
        {{ .Params.certainty }}
    </p> 
    {{ end }}

    {{ if .Params.completeness }}
    <p class="epistemic__status">
        <span class="epistemic__label hastooltip" tabindex="0">
            {{ partial "components/tooltip.html" (dict "label" "Status" "info" "The level of completeness") }}
        </span>
        {{ .Params.completeness }}
    </p> 
    {{ end }}
</div>
