<div class="container footer">
    <div>
        <p>&copy; {{ now.Year }} {{ site.Params.Author }}</p>
    </div>
    <div>
        <ul>
            <li>
                <a href="/garden">Garden</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/relationship-graph">Relationship Graph</a>
            </li>
            <li>
                 <a href="/tags">Tags</a>
            </li>
            <li>
                <a href="/garden/notes">Notes</a>
            </li>
            <li>
                <a href="/garden/essays">Essays</a>
            </li>
            <li>
                <a href="/garden/pins">Pins</a>
            </li>
            <li>
                <a href="/garden/portraits">Portraits</a>
            </li>
            <li>
                <a href="/garden/projects">Projects</a>
            </li>
        </ul>
    </div>
</div>
