<div class="container footer_contents">
    <div>
        <p>&copy; {{ now.Year }} {{ site.Params.Author }}</p>
    </div>
    <div class="footer__socials">
        <a
            href="{{ .Site.Data.links.socialmedia.github }}"
            target="_blank"
            rel="noopener noreferrer"
            class="mr-8"
            aria-label="Github account link">
                {{ partial "components/icon.html" "github" }}
        </a>
        <a
            href="{{ .Site.Data.links.socialmedia.youtube }}"
            target="_blank"
            rel="noopener noreferrer"
            class="mr-8"
            aria-label="YouTube account link">
                {{ partial "components/icon.html" "youtube" }}
        </a>
        <a
            href="{{ .Site.Data.links.socialmedia.twitter }}"
            target="_blank"
            rel="noopener noreferrer"
            class=""
            aria-label="Twitter channel link">
                {{ partial "components/icon.html" "twitter" }}
        </a>
    </div>
</div>
