<div class="header-nav">
    <div>
        <a href="/">
            {{ partialCached "components/svg.html" (dict "svgName" "flower" "customClass" "site__logo") }}
        </a>
    </div>

    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}

    <button id="themetoggle" class="themetoggle" aria-label="Toggle dark mode">
        <div class="icon--lightmode">
            {{ partial "components/icon.html" "sun" }}
        </div>
        <div class="icon--darkmode">
            {{ partial "components/icon.html" "moon" }}
        </div>
    </button>
</div>
