<div class="header-nav">
    <div>
        <a href="/">{{ site.Title }}</a>
    </div>
    ICONS
    {{ partial "components/icon.html" "sun" }}
    {{ partial "components/icon.html" "moon" }}
    <button id="theme-toggle" class="theme-toggle" aria-label="Toggle dark mode">
        <span class="theme-toggle-icon light-icon">☀️</span>
        <span class="theme-toggle-icon dark-icon">🌙</span>
        <i class="material-icons">face</i>
    </button>
    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
</div>
