.contenttype {
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-bottom: var(--space-4xl);
}

.deck {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
    justify-content: center;
    flex-direction: column;
    align-items: center;

    [class*='__card'] {
        position: relative;
        max-width: 227px;
        min-width: 180px;
        flex: 0 1 227px;
        box-sizing: border-box;
        border: 1px solid var(--colour-secondary);
        border-radius: var(--space-m);
        background-color: var(--colour-primary);
        padding: var(--space-m);
        text-align: center;
        transition: transform 0.3s ease;
    }

    [class*='__card']:hover {
        transform: translateY(calc(-1 * var(--space-m)));
    }

    [class*='__content'] {
        border-radius: var(--border-radius);
        background-color: var(--colour-primary);
    }

    [class*='__header'] {
        color: var(--colour-primary);
        padding: var(--space-s);
        background-color: var(--colour-secondary);
        border-top-right-radius: var(--space-s);
        border-top-left-radius: var(--space-s);
    }

    [class*='__icon'] {
        height: var(--space-l);
        overflow: hidden;
        font-size: var(--font-size-xs)
    }

    .projects [class*='__icon'] {
        font-size: var(--font-size-xs)
    }

    .notes [class*='__icon'] {
        font-size: var(--font-size-xs)
    } 

    [class*='__description'] {
        font-family: var(--font-family);
        font-size: var(--font-size-xs);
    }

    [class*='__image'] {
        margin-top: var(--space-2xs);
        padding: var(--space-s);
        background-color: var(--colour-secondary);
        border-bottom-right-radius: var(--space-s);
        border-bottom-left-radius: var(--space-s);
    }

    [class*='__image']:hover {
        color: rgb(255, 255, 255);
        mask: linear-gradient(-60deg, #ffffff 30%, rgba(255, 255, 255, 0.8), #ffffff 70%) right/350% 100%;
        animation: shimmer 2.5s infinite;
    }

    [class*='__title'] {
        margin-top: var(--space-2xs);
        font-family: var(--font-family-display);
        font-size: var(--font-size-base);
        text-transform: uppercase;
    }

    [class*='__title'] {
       color: var(--colour-secondary); 
    }
}

[data-theme="dark"] {
    .deck__image:hover {
        mask: linear-gradient(-60deg, #000000 30%, rgba(0, 0, 0, 0.8), #000000 70%) right/350% 100%;
    }
}

@media (min-width: 768px) {
    .deck {
        flex-direction: row;
    }
}

@keyframes shimmer {
  100% {
    mask-position: left
  }
}
