.details {
    display: flex;
    gap: var(--space-xl);

    .icon {
        display: inline-block
    }

    svg path {
        fill: var(--colour-grey);
    }

    time {
        font-size: var(--font-size-s);
        color: var(--colour-grey);
    }
}
