.headernav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: var(--space-xs);
    padding-left: var(--space-xs);
    margin-left: auto;
    margin-right: auto;

    [class*='__logo'] svg {
        width: var(--space-3xl);
        height: var(--space-3xl);
        filter: var(--filter-shadow-small);
        transition: transform 0.35s cubic-bezier(.4,2,.3,1), filter 0.35s;
    }

    [class*='__logo']:hover svg {
        transform: scale(1.12) rotate(-8deg);
        filter: var(--filter-shadow-medium);
    }

    .menu ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
    }

    .menu ul li {
        &::after {
            content: url('/images/leaves.svg');
            display: inline-block;
            transform: scaleX(-1) scaleY(-1);
        }

    }
    
    .menu a {
        border-radius: var(--border-radius);
        color: var(--colour-primary);
        font-family: var(--font-family-heading);
        font-size: var(--font-size-s);
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            font-weight: 700;
        }
    }

    @media (min-width: 768px) {
        padding-right: var(--space-m);
        padding-left: var(--space-m);


    }
}

/* Desktop styles - min-width: 768px */
@media (min-width: 768px) {
    
}
