.headernav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: var(--space-xs);
    padding-left: var(--space-xs);
    margin-left: auto;
    margin-right: auto;

    [class*='__logo'] svg {
        width: var(--space-3xl);
        height: var(--space-3xl);
        filter: var(--filter-shadow-small);
    }

    .menu ul {
        list-style: none;
        padding: 0;
    }
    
    .menu a {
        border-radius: var(--border-radius);
        padding: var(--space-xs) var(--space-s);
        color: var(--colour-dark);
        font-family: var(--font-family-heading);
        font-size: var(--font-size-l);
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
    }

    @media (min-width: 768px) {
        padding-right: var(--space-m);
        padding-left: var(--space-m);


    }
}

[data-theme="dark"] {
    .menu a {
        color: var(--colour-white)
    }
}


/* Desktop styles - min-width: 768px */
@media (min-width: 768px) {
    
}
