.hero {
    display: flex;
    position: relative;
    margin-bottom: var(--space-4xl);
    overflow-x: hidden;
    height: 90vh;

    h2 {
        font-size: var(--font-size-2xl);
        font-weight: 400;
    }

    [class*='__content'] {
        margin: auto;
    }

    [class*='__content'] h1 {
        margin-bottom: var(--space-3xl);
    }
}
