.hero {
    display: flex;
    position: relative;
    overflow-x: hidden;
    /* height: 70vh; */

    h2 {
        font-size: var(--font-size-2xl);
        font-weight: 400;
    }

    [class*='__content'] {
        z-index: var(--zindex-2);
        width: 50%;
        margin-top: var(--space-xl);
    }

    [class*='__content'] h1 {
        margin-bottom: var(--space-3xl);
    }
}
