#TableOfContents {
    &.hidden {
        display: none;
    }

    @media (min-width: 768px) {
        display: block;
    }
}

.tableofcontents {
    min-width: var(--space-xl);
    background-color: var(--colour-secondary);
    border-radius: var(--border-radius);

    @media (min-width: 768px) {
        background-color: transparent;
    }

    nav {
        max-height: 90vh;
        height: 100%;
        overflow-y: scroll;
        scrollbar-color: var(--colour-dark) var(--colour-light);
        scrollbar-width: thin;
        padding: 0 20px;

        @media (min-width: 768px) {
            scrollbar-color: var(--colour-primary) var(--colour-background);
            padding: 0;
        }
    }

    ul {
        padding: 0;
        margin-top: 0;

        @media (min-width: 768px) {
           margin-top: var(--space-m); 
        }
    }

    ul li,
    [data-name="related-list-item"] {
        display: flex;
        margin-bottom: 0;
        padding-top: var(--space-m);
        padding-bottom: var(--space-m);

        @media (min-width: 768px) {
           margin-bottom: var(--space-m); 
           padding-top: 0;
           padding-bottom: 0;
        }
    }

    ul li:not(:last-child) {
        border-bottom: 1px dashed var(--colour-grey);

        @media (min-width: 768px) {
            border-bottom: none;
        }
    }

    ul li::before,
    [data-name="related-list-item"]::before {
        content: "\273B";
        color: var(--colour-accent);
        margin-left: var(--space-xs);
        margin-right: var(--space-xs);
    }

    ul li a {
        font-size: var(--font-size-s);
        text-decoration: none;
    }
}

.tableofcontents__toggle {
    cursor: pointer;
    display: flex;
    gap: var(--space-xs);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: var(--space-l);
    margin-bottom: var(--space-l);
    color: var(--colour-grey);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-m-fixed);
    font-weight: 700;
    background-color: var(--colour-background);
    border: 1px solid var(--colour-primary);
    border-radius: var(--border-radius);

    &::after {
        content: " \25BC";
        color: var(--colour-primary);
        font-size: var(--font-size-xs);
    }

    @media (min-width: 768px) {
        cursor: default;
        padding: 0;
        border: none;
        margin-top: 0;
        margin-bottom: 0;

        &::after {
            display: none;
        }
    }
}

.essay .tableofcontents {
    ul li a {
        color: var(--colour-essays);
    }
}

.note .tableofcontents {
    ul li a {
        color: var(--colour-notes);
    }
}

.pin .tableofcontents {
    ul li a {
        color: var(--colour-pins);
    }
}

.project .tableofcontents {
    ul li a {
        color: var(--colour-projects);
    }
}
