.themetoggle {
  display: flex;
  border-radius: var(--border-radius-full);
  padding: var(--space-xs) var(--space-s);
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.4); 
}

[data-theme="dark"] .themetoggle {
  background-color: rgba(39, 39, 42, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.1); 
}

.icon--lightmode {
  display: inline-block;

  .material-icons {
    color: var(--colour-dark);
  }
}

.icon--darkmode {
  display: none;
}

[data-theme="dark"] .icon--lightmode {
  display: none;
}
[data-theme="dark"] .icon--darkmode {
  display: inline-block;
  .material-icons {
    color: var(--colour-accent);
  }
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
