.hastooltip {
  position: relative;
  cursor: help;
  font-weight: 700;
}

.hastooltip .tooltip {
  position: absolute;
  left: 3%;
  bottom: 120%;
  transform: translateX(-3%);
  background-color: #222;
  color: #fff;
  font-weight: 400;
  padding: 6px 12px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 100;
}
 

.hastooltip:hover .tooltip,
.hastooltip:focus .tooltip {
  opacity: 1;
  pointer-events: auto;
}

[data-theme="dark"] {
  .hastooltip .tooltip {
    background-color: aliceblue;
    color: #222;
  } 
}
