.sitevideo {
    z-index: var(--zindex-1);
    display: flex;
    position: absolute;
    bottom: 0;
    right: -80px;

    [class*='__video'], [class*='__fallback'] {
        width: 100%;
        max-width: 800px;
        height: auto;
    }
}
