{{ define "main" }}
  <div class="essayshome wrapper">
    <div class="essays_header sectionheader">
      <img src="/images/content-type-essays.png" alt=""> 
    </div>
    <div class="essays__content sectioncontent">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>

    <div class="essays__list sectionlist">
      {{ range .Pages }}
        <div class="essays__item">
          <div>
            <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
            {{ partial "details.html" . }}
            <p>
              {{ partial "wikilinks.html" .Params.description }}
            </p>

            {{ partial "tags.html" . }}
          </div>
        </div>
      {{ end }}
    </div>

  </div>
{{ end }}
