{{ define "main" }}
  <div class="noteshome wrapper">
    <div class="notes__header sectionheader">
      <img src="/images/content-type-notes.png" alt=""> 
    </div>
    <div class="notes__content sectioncontent">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>

    <div class="notes__list sectionlist">
      {{ range .Pages }}
        <div class="notes__item">
          <div class="notes__icon">
            {{ partial "growth-icon.html" . }}
          </div>
          <div>
            <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
            {{ partial "wikilinks.html" .Params.description }}
          </div>
        </div>
      {{ end }}
    </div>

  </div>
{{ end }}
