{{ define "main" }}
  <div class="noteshome wrapper">
    <div class="notes__header sectionheader">
      <img src="/images/content-type-notes.png" alt=""> 
    </div>
    <div class="notes__content sectioncontent">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>

    <div class="sectionlist">
      {{ range sort .Pages ".Params.date_tended" "desc" }}
        <div class="sectionitem sectionitem--3column">
          <a href="{{ .RelPermalink }}" class="boxlink"></a>
            <div class="notes__icon sectionicon">
              {{ partial "components/icon.html" .Params.growth_stage }}
            </div>
            <div>
              <h3>{{ .LinkTitle }}</h3>
              {{ partial "wikilinks.html" .Params.description }}
            </div>
        </div>
      {{ end }}
    </div>

  </div>
{{ end }}
