{{ define "main" }}
  <div class="wrapper">
    <div class="storymeta">
      {{ partial "components/breadcrumbs.html" . }}
      <h1>{{ .Title }}</h1>

      {{ if and .Params.date_planted .Params.date_tended }}
        {{ partial "details.html" . }}
      {{ end }}

      {{ if .Params.vibes }}
        {{ partial "epistemic.html" . }}
      {{ end }}

      {{ partial "tags.html" . }}
    </div>

    <section class="story">
      <aside class="sidebar">
        {{ partial "components/tableofcontents" . }}
      </aside>

      <article class="mainarticlecontent">
        {{ partial "wikilinks.html" .Content }}

        {{ partial "backlinks.html" . }}

      </article>
    </section>
    
  </div>
{{ end }}
