{{ define "main" }}
  <div class="pinshome wrapper">
    <div class="pins__header sectionheader">
      <img src="/images/content-type-pins.png" alt=""> 
    </div>
    <div class="pins__content sectioncontent">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>
    
    <div class="pins__list sectionlist">
      {{ range .Pages }}
        <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
        {{ partial "wikilinks.html" .Summary }}
      {{ end }}
    </div>
    
  </div>
{{ end }}
`
