{{ define "main" }}
  <div class="pinshome wrapper">
    <div class="pins__header sectionheader">
      <img src="/images/content-type-pins.png" alt=""> 
    </div>
    <div class="pins__content sectioncontent">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>
    
    <div class="pins__list sectionlist">
      {{ range .Pages }}
        <div class="pins__item">
          <a href="{{ .RelPermalink }}" class="boxlink"></a>
          <div class="pins__icon">
            {{ partial "components/icon.html" "bookmark" }}
          </div>
          <div>
            <h3>{{ .LinkTitle }}</h3>
            {{ partial "wikilinks.html" .Params.description }}
          </div>
        </div>
      {{ end }}
    </div>
    
  </div>
{{ end }}
