{{ define "main" }}
  <div class="portraits">
    <h1>{{ .Title }}</h1>
    <div class="portraits__content">
      {{ .Content }}
    </div>

    <div class="gallery">
      {{ $images := sort (.Resources.ByType "image") "Name" "desc" }}
      {{ range ($images) }}
        {{ $thumb := .Resize "250x250" }}
        {{ $full := .Resize "800x800" }}
        <div class="gallery__item">
          <img src="{{ $thumb.RelPermalink }}" alt="{{ .Name }}" loading="lazy">
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
