{{ define "main" }}
  <div class="projectshome wrapper">
    <div class="projects__header sectionheader">
      <img src="/images/content-type-projects.png" alt=""> 
    </div>
    <div class="projects__content sectioncontent">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>

    <div class="projects__list sectionlist">
      {{ range .Pages }}
       <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
        {{ partial "wikilinks.html" .Summary }}
      {{ end }}
    </div>

  </div>
{{ end }}
