{{ define "main" }}
  <div class="projectshome wrapper">
    <div class="projects__header sectionheader">
      <img src="/images/content-type-projects.png" alt=""> 
    </div>
    <div class="projects__content sectioncontent">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>

    <div class="sectionlist sectionlist--flex">
      {{ range .Pages }}
       <div class="projects__item">
        <a href="{{ .RelPermalink }}" class="boxlink"></a>
        <div>
          <div class="projects__cover">
            <img src="{{ (.Resources.GetMatch "media/cover*").RelPermalink}}" alt="">
          </div>
          <h3>{{ .LinkTitle }}</h3>
          <p>
            {{ partial "wikilinks.html" .Params.description }}
          </p>
        </div>
       </div>
      {{ end }}
    </div>

  </div>
{{ end }}
