.footer {
    background-color: var(--colour-secondary);
    border-top: 1px solid var(--colour-highlight);
    border-bottom: var(--space-xs) solid var(--colour-accent);

    [class*='_contents'] {
        display: flex;
        justify-content: space-between;
        padding-top: var(--space-xl);
        padding-bottom: var(--space-xl);
    }

    [class*='_socials'] {
        display: flex;
        gap: var(--space-m);
    }

    [class*='_socials'] svg path {
        fill: var(--colour-primary);
        transition: fill 0.2s;
    }

    .copyright {
        font-size: var(--font-size-s);
    }
}
