.footer {
    background-color: var(--colour-secondary);
    border-top: 1px solid var(--colour-tertiary);
    border-bottom: var(--space-xs) solid var(--colour-accent);

    [class*='_contents'] {
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding-top: var(--space-xl);
        padding-bottom: var(--space-xl);
    }

    [class*='_socials'] {
        display: flex;
        gap: var(--space-m);
    }
}
