{{ define "main" }}
  <div class="growthstagehome wrapper">
    <div class="sectionheader">
      <h1>Growth stage "{{ .Title }}"</h1>
    </div>
    <div class="growthstage__content sectioncontent">
      {{ .Content }}
      <p>The entries below are all connected by the growth stage "{{ lower .Title }}". Notes in this stage may be moved to another stage, or they may remain here.</p>
    </div>

    <div class="sectionlist sectionlist--flex">
      {{ range .Pages }}
        <div class="growthstage__item">
          <a href="{{ .RelPermalink }}" class="boxlink"></a>
          <div class="sectionicon">
            {{ partial "components/icon.html" .Params.growth_stage }}
          </div>
          <div>
            <h3>{{ .LinkTitle }}</h3>
            
            {{ .Params.description }}

            {{ partial "details.html" . }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
